{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Partner</title>
  </head>
  <body>
    {% block content %}

    <h3>Project Details:</h3>
    <ul style="list-style-type:none">

            <li>Name: {{ project.name }}</li>
            <li>Description: {{project.description}}</li>
            <li>Location: {{project.location}}</li>
            <li>Width: {{project.width}}</li>
            <li>Length: {{project.length}}</li>
            <li>Square Footage: {{project.width}} x {{project.length}} =</li>
            {% if project.completed == 0 %}
            <li>Project Completed: No</li>
            {% elif project.completed == 1 %}
            <li>Project Completed: Yes</li>
            {% endif %}
    </ul>


    <h3>Project Materials</h3>
    <ul style="list-style-type:none">
            {% for material in project.materials.all %}
                <li>Material Name: {{material.name}}</li>

            {% endfor %}
    </ul>

    <h3>Project Toolss</h3>
    <ul style="list-style-type:none">
            {% for project_tool in project.tool_list.all %}
                <li>Tool Name: {{project_tool.tool.name}}</li>

            {% endfor %}
    </ul>




    {% endblock %}

  </body>
</html>