{% extends 'shared/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Partner</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/projects.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
{% comment %} First step in creating a new project  {% endcomment %}
    <div class="projects">
      <div class="project">
        <h1>Step 1 of 3</h1>
        {% if project.id is not None %}
            <form action="{% url 'projectpartnerapp:project' project.id %}" method="post" class="form">
        {% else %}
          <form action="{% url 'projectpartnerapp:projects' %}" method="post" class="form">
        {% endif %}
          {% csrf_token %}
          <fieldset class="project__description" layout="vertical">
              <label for="name">Project Name: </label>
              <input id="name" type="text" name="name" placeholder="Name" value="{{ project.name}}">
          </fieldset>
          <fieldset class="project__description">
              <label for="description">Description: </label>
              <input id="description" type="text" name="description" placeholder="Describe Project" value="{{ project.description }}">
          </fieldset>
          <fieldset class="project__description" >
              <label for="location">Location: </label>
              <input id="location" type="text" name="location" placeholder="Area of Home" value="{{ project.location }}">
          </fieldset>
          <fieldset class="project__description" >
              <label for="width">Width: </label>
              <input id="width" type="text" name="width" placeholder="Ex. 14" value="{{ project.width }}">
              <label for="width">feet</label>
          </fieldset>
          <fieldset class="project__description" >
              <label for="length">Length: </label>
              <input id="length" type="text" name="length" placeholder="Ex. 14" value="{{ project.length }}">
              <label for="length">feet</label>
          </fieldset>
          {% if project.id is not None %}
          <fieldset class="project__description" >
          <label for="completed">Completed: </label>
          <input type="checkbox" name="completed" value="{{ project.completed }}">
          </fieldset>
          {% else %}
          <input type="hidden" name="completed" value="0">
          {% endif %}
          {% if project.id is not None %}
                <input type="hidden" name="actual_method" value="PUT">
                <input type="submit" value="Update" />
          {% else %}
          <button button_type="submit"> Next Step </button>
          {% endif %}
        </form>
        </div>
    </div>
    {% endblock %}
  </body>
</html>