{% extends 'shared/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Project Partner</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/projects.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
{% comment %} This will list all the users project Open and Closed for reference {% endcomment %}
    <div class="header">
    <h2 class="project__title">All {{ user.first_name }}'s Projects</h2>
    <button class="btn btn-secondary"><a style="text-decoration:none;" href="{% url 'projectpartnerapp:project_form' %}">Create New Project</a></button>
    <button class="btn btn-secondary"><a class="text-decoration:none" href="{% url 'projectpartnerapp:project_tool_form' %}">Add Project Tools</a></button>
    <button class="btn btn-secondary"><a class="text-decoration:none" href="{% url 'projectpartnerapp:material_form' %}">Add Project Materials</a></button>
    </div>
    <ul class="projects" style="list-style-type:none">
    {% for project in all_projects %}
      {% if project.owner_id == user.id%}
        <div class="project">
           <li class="project__title"><strong> Project Name:</strong> {{ project.name }}</li>
            <li class="project__description"><strong>Description:</strong> {{project.description}}</li>
            <li class="project__description"><strong>Location:</strong> {{project.location}}</li>
            <li class="project__description"><strong>Width:</strong> {{project.width}} ft.</li>
            <li class="project__description"><strong>Length:</strong> {{project.length}} ft.</li>
            <li class="project__description"><strong>Square Footage:</strong> {{project.location_sq_footage}} ft.</li>
            {% if project.completed == 0 %}
            <li class="project__description"><strong>Project Completed:</strong> No</li>
            {% elif project.completed == 1 %}
            <li class="project__description"><strong>Project Completed:</strong> Yes</li>
            {% endif %}
            <button class="btn btn-secondary"> <a href="{% url 'projectpartnerapp:project' project.id %}">Details </a></button>
        </div>

      {% endif %}


    {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>