{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{% static 'styles/multiselect.css' %}" rel="stylesheet" type="text/css">
    <title>Project Partner</title>
  </head>
  <body>
    {% block content %}

    <h1>Edit Your Project</h1>

    {% comment %} {% if project.id is not None %} {% endcomment %}
    <form action="{% url 'projectpartnerapp:project' project.id %}" method="post">
    {% comment %} {% else %}
      <form action="{% url 'projectpartnerapp:projects' %}" method="post">
    {% endif %} {% endcomment %}
      {% csrf_token %}
      <input type="hidden" name="project_id" value="{{project.id}}">
      <fieldset>
          <label for="name">Project Name: </label>
          <input id="name" type="text" name="name" placeholder="Name Your Project" value="{{ project.name}}">
      </fieldset>
      <fieldset>
          <label for="description">Description: </label>
          <input id="description" type="text" name="description" placeholder="Described Project" value="{{ project.description }}">
      </fieldset>
      <fieldset>
          <label for="location">Location: </label>
          <input id="location" type="text" name="location" placeholder="Area of Home" value="{{ project.location }}">
      </fieldset>
      <fieldset>
          <label for="width">Width: </label>
          <input id="width" type="text" name="width" placeholder="Ex. 14" value="{{ project.width }}">
          <label for="width">feet</label>
      </fieldset>
      <fieldset>
          <label for="length">Length: </label>
          <input id="length" type="text" name="length" placeholder="Ex. 14" value="{{ project.length }}">
          <label for="width">feet</label>
      </fieldset>
      <fieldset>
          <p>Mark Project Complete</p>
          <label for="completed"> Yes: </label>
          <input id="completed" type="checkbox" name="completed" value=1>
          <label for="completed"> No: </label>
          <input id="completed" type="checkbox" name="completed" value=0>
      </fieldset>


        <fieldset>
            <label for="tool_id">Add Tools: </label>
            <select id="tool_id" name="multicheckbox[]" multiple="multiple" class="4colactive">
            {% for tool in all_tools %}
                      <option value="{{ tool.id }}">{{ tool.name }}</option>
                  {% endfor %}
            </select>
        </fieldset>
      <input type="hidden" name="actual_method" value="PUT">
      <input type="submit" value="Update" />
    </form>

    <h3>Project Tools</h3>
        <ul style="list-style-type:none">
                {% for project_tool in project.tool_list.all %}
                    <li>Tool Name: {{project_tool.tool.name}}</li>
                    <form action="{% url 'projectpartnerapp:project_tools' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="DELETE">
                    <button>Delete</button>
                    </form>
                {% endfor %}
        </ul>
    <h3>Your Project Materials</h3>

          {% for material in project.materials.all %}

            <li>Material Name: {{ material.name }}</li>
            <li>Description: {{material.description}}</li>
            <li>Cost: {{material.cost}}</li>
            <li>Quantity: {{material.quantity}}</li>
            <li>Project: {{material.project_id}}</li>
            <form action="{% url 'projectpartnerapp:material_edit_form' material.id %}" method="GET">
            {% csrf_token %}
            <button>Edit Material Details</button>
            </form>
            <button><a href="{% url 'projectpartnerapp:material_form' %}">Add New Material</a></button>

            <br></br>
          {% endfor %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'scripts/multiselect.js' %}"></script>
    <script>
    $('select[multiple]').multiselect({
        columns: 2,
        placeholder: 'Select options'
    });
    </script>
  {% endblock %}
  </body>
</html>