{% extends 'shared/base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Partner Tools</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/projects.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <h1>Tools in Inventory</h1>
    <button class="btn btn-secondary"> <a href="{% url 'projectpartnerapp:new_tool_form' %}">Add New Tool </a></button>

    <ul class="projects" style="list-style-type:none">
    {% for tool in all_tools %}
          <div class="resource">
            <li class="project__title"><strong>Tool Name:</strong> {{ tool.name }}</li>
            <li class="project__description"><strong>Manufacturer:</strong> {{ tool.manufacturer }}</li>
            <li class="project__description"><strong>Description:</strong> {{tool.description}}</li>
            <li class="project__description"><strong>Cost: $</strong>{{tool.cost}}</li>
            {% if tool.own == "off" %}
            <li class="project__description"><strong>Own this tool:</strong> No</li>
            {% elif tool.own == "on" %}
            <li class="project__description"><strong>Own this tool:</strong> Yes</li>
            {% endif %}
            <form action="{% url 'projectpartnerapp:tool' tool.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
            </form>
            <form action="{% url 'projectpartnerapp:tool_edit_form' tool.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
            </form>

           </div>
    {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>