{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Partner Tools</title>
  </head>
  <body>
    {% block content %}
    <h1>Tools in Inventory</h1>
    <button> <a href="{% url 'projectpartnerapp:new_tool_form' %}">Add New Tool </a></button>

    <ul style="list-style-type:none">
    {% for tool in all_tools %}

            <li>Tool Name: {{ tool.name }}</li>
            <li>Manufacturer: {{ tool.manufacturer }}</li>
            <li>Description: {{tool.description}}</li>
            <li>Cost: ${{tool.cost}}</li>
            {% if tool.own == "off" %}
            <li>Own this tool: No</li>
            {% elif tool.own == "on" %}
            <li>Own this tool: Yes</li>
            {% endif %}
            <br></br>
    {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>