{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Partner</title>
  </head>
  <body>
    {% block content %}

    <h1>Materials in Inventory</h1>

    <ul style="list-style-type:none">
    {% for material in all_materials %}

            <li>Material Name: {{ material.name }}</li>
            <li>Description: {{material.description}}</li>
            <li>Cost: {{material.cost}}</li>
            <li>Quantity: {{material.quantity}}</li>
            <li>Project: {{material.project_id}}</li>
            <br></br>
    {% endfor %}
    </ul>
    <form action="{% url 'projectpartnerapp:material' material.material_id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete Material</button>
    </form>

    <form action="{% url 'projectpartnerapp:material_edit_form' material.material_id %}" method="GET">
            {% csrf_token %}
            <button>Edit Material</button>
    </form>



    {% endblock %}

  </body>
</html>