{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Partner Materials</title>
  </head>
  <body>
    {% block content %}

    <h1>Step 3 of 3: Add Materials</h1>


    <form action="{% url 'projectpartnerapp:materials' %}" method="post">
      {% csrf_token %}
      <label for="project">Add to Project: </label>
      <fieldset>
          <select id="project" type="text" name="project_id">
            {% comment %} {% if project.owner_id == user.id%} {% endcomment %}
                {% for project in all_projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            {% comment %} {% endif %} {% endcomment %}
          </select>
      </fieldset>
      <label for="name">Materials</label>
      <fieldset id="myForm" name="name[]">
          <input id="name[]" type="text" name="name[]" placeholder="material name">
      </fieldset>
      <input type="submit" value="Finish Creating Project" />
    </form>
      <button onclick="addMaterialFunction()">Add Material</button>
    <script src="{% static 'scripts/add_material.js' %}"></script>
    {% endblock %}
  </body>
</html>