{% extends 'shared/base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% bootstrap_css %}
    <title>Project Partner</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/projects.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}

    {% if request.user.is_authenticated %}
      <h2>Welcome, {{ user.first_name }}. Thanks for logging in.</h2>

    <h3>Your Open Projects</h3>
    <button class="btn btn-secondary"><a class="text-decoration:none" href="{% url 'projectpartnerapp:project_form' %}">Create New Project</a></button>

    <ul class="projects" style="list-style-type:none">
    {% for project in all_projects %}
      {% if project.owner_id == user.id%}
          {% if project.completed == 0 %}
          <div class="project">
           <li class="project__title"> <strong>Project Name:</strong> {{ project.name }}</li>
            <li class="project__description"><strong>Description:</strong> {{project.description}}</li>
            <li class="project__description"><strong>Location:</strong> {{project.location}}</li>
            <li class="project__description"><strong>Width:</strong> {{project.width}} ft.</li>
            <li class="project__description"><strong>Length:</strong> {{project.length}} ft.</li>
            <li class="project__description"><strong>Square Footage:</strong> {{project.location_sq_footage}} ft.</li>
            {% if project.completed == 0 %}
            <li class="project__description"><strong>Project Completed:</strong> No</li>
            {% elif project.completed == 1 %}
            <li class="project__description"><strong>Project Completed:</strong> Yes</li>
            {% endif %}
            <button class="btn btn-secondary"> <a href="{% url 'projectpartnerapp:project' project.id %}">Details </a></button>

          {% endif %}
          <br></br>
          </div>
      {% endif %}


    {% endfor %}
    </ul>
      {% else %}
          <h2>Welcome, new user. Please Login or Register.</h2>
    {% endif %}
    {% endblock %}

    {% bootstrap_javascript jquery='full' %}
  </body>
</html>