{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Partner</title>
  </head>
  <body>
    {% block content %}
    {% if request.user.is_authenticated %}
      <h2>Welcome, {{ user.first_name }}. Thanks for logging in.</h2>

    <h3>Your Open Projects</h3>
    <button><a href="{% url 'projectpartnerapp:project_form' %}">Create New Project</a></button>

    <ul style="list-style-type:none">
    {% for project in all_projects %}
      {% if project.owner_id == user.id%}
          {% if project.completed == 0 %}
           <li> Project Name: {{ project.name }}</li>
            <li>Description: {{project.description}}</li>
            <li>Location: {{project.location}}</li>
            <li>Width: {{project.width}}</li>
            <li>Length: {{project.length}}</li>
            <li>Square Footage: {{project.width}} x {{project.length}} = {{project.location_sq_footage}}</li>
            {% if project.completed == 0 %}
            <li>Project Completed: No</li>
            {% elif project.completed == 1 %}
            <li>Project Completed: Yes</li>
            {% endif %}
            <button> <a href="{% url 'projectpartnerapp:project' project.id %}">Details </a></button>

          {% endif %}
          <br></br>
      {% endif %}


    {% endfor %}
    </ul>
      {% else %}
          <h2>Welcome, new user. Please Login or Register.</h2>
    {% endif %}
    {% endblock %}
  </body>
</html>